html {
    height:100%;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #FFD600 50%, #fff0a7 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
    
  }
  .loginbody {
      margin:0;
      background-color: #fffee5;
      font-family: "Asap", sans-serif;
      
    }
    
    .login {
      overflow: hidden;
      background-color: white;
      padding: 40px 30px 30px 48px;
      border-radius: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 550px;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: -webkit-transform 300ms, box-shadow 300ms;
      -moz-transition: -moz-transform 300ms, box-shadow 300ms;
      transition: transform 300ms, box-shadow 300ms;
      box-shadow: 15px 20px 20px rgba(0, 0, 0, 0.6);
    }
    .login::before, .login::after {
      content: "";
      position: absolute;
      width: 600px;
      height: 600px;
      border-top-left-radius: 40%;
      border-top-right-radius: 45%;
      border-bottom-left-radius: 35%;
      border-bottom-right-radius: 40%;
      z-index: -1;
    }
    .login::before {
      left: 30%;
      bottom: -105%;
      background-color: #FFD600;
      -webkit-animation: wawes 6s infinite linear;
      -moz-animation: wawes 6s infinite linear;
      animation: wawes 6s infinite linear;
    }
    .login::after {
      left: 30%;
      bottom: -115%;
      background-color: #00068E;
      -webkit-animation: wawes 7s infinite;
      -moz-animation: wawes 7s infinite;
      animation: wawes 7s infinite;
    }
    .login > input {
      font-family: "Asap", sans-serif;
      display: block;
      border-radius: 5px;
      font-size: 16px;
      background: white;
      width: 100%;
      border: 0;
      padding: 10px 10px;
      margin: 15px -10px;
    }
    .login > button {
      font-family: "Asap", sans-serif;
      cursor: pointer;
      color: #fff;
      font-size: 16px;
      text-transform: uppercase;
      width: 90px;
      border: 0;
      padding: 7px 0;
      margin-top: 10px;
      margin-left: -5px;
      border-radius: 5px;
      background-color: #FFD600;
      
    }
    .login > button:hover {
      background-color: #00068E;
    }
  .login > input:hover {
    border-color: #00068E;
  }
    footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
      padding: 3px;
      background-color: rgba(149, 129, 1, 0.3);
      color: white;
    }
  
    footer a{
      text-decoration: none;
    }
    
    @-webkit-keyframes wawes {
      from {
        -webkit-transform: rotate(0);
      }
      to {
        -webkit-transform: rotate(360deg);
      }
    }
    @-moz-keyframes wawes {
      from {
        -moz-transform: rotate(0);
      }
      to {
        -moz-transform: rotate(360deg);
      }
    }
    @keyframes wawes {
      from {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
      }
      to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
  
  
   